.title h1 { color: #009846; text-transform: uppercase; }

.products { display: flex; flex-wrap: wrap; }

.item { display: flex; flex-flow: column; position: relative; flex: 0 1 25%; min-height: 350px; border-right: 1px solid #e6ebe5; border-bottom: 1px solid #e6ebe5; padding: 0 5px; }

@media (max-width: 650px) { .item { flex: 0 1 33.33%; } }

@media (max-width: 450px) { .item { flex: 0 1 50%; } }

.item__novelty { width: 30%; position: absolute; right: 0; top: 0; }

.item__image { display: flex; text-align: center; margin: 5px auto 0 auto; flex: 1 0 auto; max-height: 207px; overflow: hidden; }

.item__image img { max-width: 100%; object-fit: cover; }

.item__description-box { min-height: 105px; display: flex; flex-flow: column; }

.item__name { display: flex; flex: 1 0 auto; color: #2b2a29; font-size: 18px; text-decoration: underline; margin: 5px 0 10px 0; }

.products .item__price { display: flex; flex: 1 0 auto; font-size: 18px; color: black; margin: 5px 0 0 0; text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; }

.products .item__price span { font-size: 12px; }

.item p { color: #727272; font-size: 15px; margin: 8px 0 10px 0; }
