[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django-cors-headers = "*"
django-ckeditor = "*"
django-livereload-server = "*"
django-uuslug = "*"
django-versatileimagefield = "*"
mysqlclient = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
