{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend/css/base.css' %}?v=2.1">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    {% block meta %}
    {% endblock meta %}
    <title>{% block title %} SILMIX
        {% endblock title %}</title>
</head>

<body>
    <div id="mobile-nav" class="mobile-nav"></div>
    <div class="site-section">
        <header>
            <div class="container">
                <div class="header">
                    <div class="logo-container">
                        <div class="header__logo"><img src="{% static 'frontend/images/Logo.jpg' %}" alt="Silmix"></div>
                    </div>                    
                    <div class="contacts">
                        <div class="contacts__social">
                            {% for social in frontend.social %}
                            <a href="{{ social.link }}" class="contacts__social-item" target="_blank">
                            <span class="social-icon"
                            style='background: url({{ social.iconUrl }}) center/100% no-repeat;
                            '></span>
                            {{ social.socName }}</a>
                            {% endfor %}
                        </div>
                        <div class="contacts__numbers">
                            {% for phone in frontend.phones %}
                            <div class="contacts__number">{{ phone }}</div>
                            {% endfor %}
                            <div class="contacts__number">{{ frontend.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div id="burger-wrapper" class="burger-wrapper">
                    <div class="burger">
                        <span></span>
                    </div>
                </div>
                <ol class="top-menu__list">
                    <li class="top-menu__item"><a href="{% url 'about' %}"
                            class="top-menu__link {% if about %}menu-active{% endif %}">О КОМПАНИИ</a></li>
                    <li class="top-menu__item"><a href="/"
                            class="top-menu__link {% if index %}menu-active{% endif %}">Продукция</a></li>
                    <li class="top-menu__item"><a href="{% url 'useful_info' %}"
                            class="top-menu__link {% if usefInfo %}menu-active{% endif %}">Полезная
                            информация</a></li>
                    <li class="top-menu__item"><a href="{% url 'sertificates' %}"
                            class="top-menu__link {% if sertificates %}menu-active{% endif %}">Сертификаты</a>
                    </li>
                    <li class="top-menu__item"><a href="{% url 'our_works' %}"
                            class="top-menu__link {% if ourWorks %}menu-active{% endif %}">Наши работы</a></li>
                </ol>
                <div class="social-adaptive">
                    {% for social in frontend.social %}
                    <a href="{{ social.link }}" target="_blank">
                        <span class="social-icon"
                        style='background: url({{ social.iconUrl }}) center/100% no-repeat;
                        '></span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </header>
        <main>
            <div class="content">
                <div class="body-container">
                    <div class="body-wrapper">
                        <div class="side-menu">
                            <ol class="side-menu__list">
                                <li class="side-menu__item"><a href="{% url 'about' %}"
                                        class="side-menu__link {% if about %}menu-active{% endif %}">О
                                        КОМПАНИИ</a></li>
                                <li class="side-menu__item"><a href="/"
                                        class="side-menu__link {% if index %}menu-active{% endif %}">Продукция</a></li>
                                <li class="side-menu__item"><a href="{% url 'useful_info' %}"
                                        class="side-menu__link {% if usefInfo %}menu-active{% endif %}">Полезная
                                        информация</a></li>
                                <li class="side-menu__item"><a href="{% url 'sertificates' %}"
                                        class="side-menu__link {% if sertificates %}menu-active{% endif %}">Сертификаты</a>
                                </li>
                                <li class="side-menu__item"><a href="{% url 'our_works' %}"
                                        class="side-menu__link {% if ourWorks %}menu-active{% endif %} ">Наши
                                        работы</a></li>
                                <li class="side-menu__item"><a href="{% url 'contacts' %}"
                                        class="side-menu__link {% if contacts %}menu-active{% endif %}">Контакты</a></li>
                            </ol>
                        </div>
                        <div class="main-content">
                            {% block content %}
                            Контентt
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer">
                    <div class="footer__logo">
                        <div class="footer__logo-container"><img src="{% static 'frontend/images/Logo_t.png' %}"
                                alt="Silmix"></div>
                        <small>© SILMIX 2020 Все права защищены</small>
                    </div>
                    <div class="footer__links">
                        <p>Рекомендуемые разделы</p>
                        <ul>
                            <li><a href="{% url 'uteplenie' %}">Смеси для утепления</a></li>
                            <li><a href="{% url 'pol' %}">Смеси для пола</a></li>
                            <li><a href="{% url 'kladka' %}">Кладочные смеси</a></li>
                            <li><a href="{% url 'oblicovka' %}">Смеси для облицовки</a></li>
                            <li><a href="{% url 'shtukaturka' %}">Штукатурные смеси</a></li>
                        </ul>
                    </div>
                    <div class="footer__links">
                        <p>Информация</p>
                        <ul>
                            <li><a href="{% url 'sertificates' %}">Сертификаты</a></li>
                            <li><a href="{% url 'our_works' %}">Наши работы</a></li>
                            <li><a href="{% url 'useful_info' %}">Полезная информация</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            <li><a href="{% url 'about' %}">О компании</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'frontend/js/navIndex.jsx' %}" type="text/babel"></script>

</body>

</html>