{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/productPage.css' %}">
<meta name="description" content="{{ content.description }}">
<meta name="keywords" content="{{ content.keywords }}">
{% endblock meta %}
<title>
    {% block title %}
    {% if content.title %}
    {{ content.title }}
    {% else %}
    {{ content.readableTitle }} - Silmix
    {% endif %}
    {% endblock title %}
</title>
{% comment %}
Body
{% endcomment %}
{% block content %}


{% endblock content %}