{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
{% if content.title %}<title>{{ content.title }}</title>{% endif %}
<meta name="description" content="{{ content.description }}">
<meta name="keywords" content="{{ content.keywords }}">
{% endblock meta %}
<title>{% block title %} Silmix | Главная страница
    {% endblock title %}</title>
{% comment %}
Body
{% endcomment %}
{% block content %}
<div class="title">
    <h1>{{ content.readableTitle}}</h1>
</div>
<div class="catalog">
    {% for item in categories %}
    <div class="catalog__item">
        <a href="{{ item.get_absolute_url }}" class="catalog__item-image">
            <img src="
            {% if item.categoryImage %}
            /media/{{ item.categoryImage }}
            {% else %}
            {% static 'frontend/images/placeholder.png' %}
            {% endif %}" alt="{{ item.readableCategory }} - Silmix">
        </a>
        <div class="catalog__item-title">
            <h2><a href="{{ item.get_absolute_url }}">{{ item.readableCategory }}</a></h2>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}