{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/productPage.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/our_works.css' %}">

<script type="text/javascript" src="{% static 'frontend/ad-gallery/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/ad-gallery/jquery.ad-gallery.js' %}"></script>
{% comment %} <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script> {% endcomment %}
{% comment %} <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
    crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'frontend/ad-gallery/jquery.ad-gallery.css' %}" />

<script type="text/javascript">
    $(function () {
        var galleries = $('.ad-gallery').adGallery();
    });
</script>

<meta name="description" content="{{ content.description }}">
<meta name="keywords" content="{{ content.keywords }}">
{% endblock meta %}
<title>
    {% block title %}
    {% if content.title %}
    {{ content.title }}
    {% else %}
    {{ content.readableTitle }} - Silmix
    {% endif %}
    {% endblock title %}
</title>
{% comment %} Body {% endcomment %}
{% block content %}
{% if not galleries %}<p class="no-content">Работы скоро будут добавлены</p>
{% else %}
{% for gallery in galleries %}
<div class="our-works">
    <div class="our-works__gallery">
        <div id="ad-gallery" class="ad-gallery">
            <div class="ad-image-wrapper"> </div>
            <div class="ad-controls"> </div>
            <div class="ad-nav">
                <div class="ad-thumbs">
                    <ul class="ad-thumb-list">
                        {% for item in gallery.inpageimages_set.all %}
                        <li> <a href="/media/{{ item.pageImage }}"> <img
                                    src="{{ item.pageImage.thumbnail.160x107 }}" width="160" height="107" /> </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="g-description">
        <div class="g-description__wrapper">
            <div class="g-description__title">
                <h2>{{ gallery.title}}</h2>
            </div>
            <div class="g-description__address">{{ gallery.address}}</div>
            <div class="g-description__address-text">
                {{ gallery.description|safe }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% comment %} CHANGE VISIBILITY OF PAGINATION BUTTON {% endcomment %}
{% if galleries.count > 2 %}
<div id="more"></div>
<script src="{% static 'frontend/js/our_works__more.jsx' %}" type="text/babel"></script>
{% endif %}

<script>
    // RELOADS WEBPAGE WHEN MOBILE ORIENTATION CHANGES  
    window.onorientationchange = function () {
        var orientation = window.orientation;
        switch (orientation) {
            case 0:
            case 90:
            case -90:
                window.location.reload();
                break;
        }
    };
</script>
{% endif %}
{% endblock content %}