{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/productPage.css' %}">
{% endblock meta %}
<title>{% block title %} Silmix | Название товара
    {% endblock title %}</title>
{% comment %}
Body
{% endcomment %}
{% block content %}
<div class="title">
    <h1>Название товара</h1>
</div>
<div class="product">
    <div class="product__image">
        <div class="product__image-container">
            <img src="{% static 'frontend/images/item.webp' %}" alt="">
        </div>
    </div>
    <div class="product__info">
        <div class="benefits">
            <p class="info-header">Преимущества</p>
            <ul class="benefits__list">
                <li>Преимущество 1</li>
                <li>Преимущество 2</li>
                <li>Три</li>
                <li>Четыре</li>
                <li>Пять</li>
            </ul>
        </div>
        <div class="specific">
            <p class="info-header">Технические данные</p>
            <table class="specific__table">
                <tbody>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Время пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Время пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Вsssssя пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>asdf смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="read-more"><span>Все характеристики</span></div>
    </div>
</div>
<div class="description">
    <div class="description__row">
        <div class="description__label">
            <p>Описание:</p>
        </div>
        <div class="description__text">
            <p>Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor
            sit amet aliquam vel, ullamcorper sit amet ligula.</p>

            <p>Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada. Curabitur aliquet
            quam id dui posuere blandit.</p>

            <p>Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur
            sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
            </p>
        </div>
    </div>
</div>
<script>
    let readMore = document.getElementsByClassName('read-more')[0]
    let productInfo = document.getElementsByClassName('product__info')[0]
    let table = document.getElementsByClassName('specific__table')[0]

    let tableInfoStyles = window.getComputedStyle(table)
    if (parseInt(tableInfoStyles.height) < 255) readMore.remove();

    function readMoreToggler() {
        if (productInfo.className.includes('opened')) {
            productInfo.className = 'product__info';
            readMore.firstElementChild.innerHTML = 'Все характеристики'
        } else {
            productInfo.className += ' opened'
            readMore.firstElementChild.innerHTML = '← Скрыть'
        }
    }
    readMore.onclick = readMoreToggler
</script>
{% endblock content %}