{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/productPage.css' %}">
{% endblock meta %}
<title>{% block title %} Silmix | Название товара
    {% endblock title %}</title>
{% comment %}
Body
{% endcomment %}
{% block content %}
<div class="title">
    <h1>{{ product.name }}</h1>
</div>
<div class="product">
    <div class="product__image">
        <div class="product__image-container">
            <img src="
            {% if product.productImage %}
            /media/{{ product.productImage }}
            {% else %}
            {% static 'frontend/images/placeholder.png' %}
            {% endif %}" alt="product.name">
        </div>
    </div>
    <div class="product__info">
        <div class="benefits">
            <p class="info-header">{% if product.benefits_set.all|length > 0 %}Преимущества{% endif %} </p>
            <ul class="benefits__list">
                {% for benefit in product.benefits_set.all %}
                <li>{{ benefit }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="specific">
            <p class="info-header">{% if product.specific_set.all|length > 0 %}Технические данные{% endif %}</p>
            <table class="specific__table">
                <tbody>
                    {% for spec in product.specific_set.all %}
                    <tr>
                        <td>{{ spec.specific }}</td>
                        <td>{{ spec.value }}</td>
                    </tr>
                    {% endfor %}
                    {% comment %} <tr>
                        <td>Время пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Время пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Пропорция смеси</td>
                        <td>123.345 л/т</td>
                    </tr>
                    <tr>
                        <td>Вsssssя пригодности к работе</td>
                        <td>не менее 2 часов</td>
                    </tr>
                    <tr>
                        <td>asdf смеси</td>
                        <td>123.345 л/т</td>
                    </tr> {% endcomment %}
                </tbody>
            </table>
        </div>
        <div class="read-more"><span>Все характеристики</span></div>
    </div>
</div>
<div class="description">
    <div class="description__row">
        <div class="description__label">
            <p>Описание:</p>
        </div>
        <div class="description__text">
            {{ product.description | safe }}
        </div>
    </div>
</div>
<script>
    let readMore = document.getElementsByClassName('read-more')[0]
    let productInfo = document.getElementsByClassName('product__info')[0]
    let table = document.getElementsByClassName('specific__table')[0]

    let tableInfoStyles = window.getComputedStyle(table)
    if (parseInt(tableInfoStyles.height) < 255) readMore.remove();

    function readMoreToggler() {
        if (productInfo.className.includes('opened')) {
            productInfo.className = 'product__info';
            readMore.firstElementChild.innerHTML = 'Все характеристики'
        } else {
            productInfo.className += ' opened'
            readMore.firstElementChild.innerHTML = '← Скрыть'
        }
    }
    readMore.onclick = readMoreToggler
</script>
{% endblock content %}