{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/products.css' %}">
{% endblock meta %}
<title>{% block title %} Silmix | Главная страница
    {% endblock title %}</title>
{% comment %}
Body
{% endcomment %}
{% block content %}
<div class="title">
    <h1>{{ products.0.category}}</h1>
</div>
<ul class="products">
    {% for item in products %}
    <li class="item">
        {% if item.discount %}
        <img class="item__novelty" src="{% static 'frontend/images/skidka.png' %}" alt="">
        {% endif %}
        <a href="{{ item.get_absolute_url }}{{ item.slug }}" class="item__image">
            <img src="
                    {% if item.productImage %}
            /media/{{ item.productImage }}
            {% else %}
            {% static 'frontend/images/placeholder.png' %}
            {% endif %}" alt="{{ item.name }} - Silmix">
        </a>
        <div class='item__description-box'>
            <a href="{{ item.get_absolute_url }}{{ item.slug }}" class="item__name">{{ item.name }}</a>
            {% if item.price %}
            <p class="item__price">{{ item.price|floatformat:'-2' }} грн.</p>
            {% endif %}
            {{ item.description|truncatechars_html:65|safe}}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}