{% extends 'frontend/base.html' %}
{% load static %}
{% comment %}
Head
{% endcomment %}
{% block meta %}
<link rel="stylesheet" href="{% static 'frontend/css/base.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/sertificates.css' %}">
<meta name="description" content="{{ content.description }}">
<meta name="keywords" content="{{ content.keywords }}">
{% endblock meta %}
<title>
    {% block title %}
    {% if content.title %}
    {{ content.title }}
    {% else %}
    {{ content.readableTitle }} - Silmix
    {% endif %}
    {% endblock title %}
</title>
{% comment %}
Body
{% endcomment %}
{% block content %}
<div class="title">
    <h1>{{ content.readableTitle }}</h1>
</div>

{% for sertificat in content.inpagefiles_set.all %}
<a class='sertificate-name' target='_blank' href='/media/{{ sertificat.file }}'>{{ sertificat.fileName }}</a>
{% comment %} <iframe src="/media/{{ sertificat.file }}" width="100%" height="500px" style='border: none;'></iframe>
{% endcomment %}
{% endfor %}

{% endblock content %}