@import "./reset.scss";
@import "./constants.scss";

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    // background: seashell;
    background: $BACK-BACKGROUND;
    font-family: Arial, Helvetica, sans-serif;
    // font-style: italic;
    // font-size: 22px;
}

.site-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
        width: 100%;
        background: $BLOCK-BACKGROUND;
    }
    main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        background: $BLOCK-BACKGROUND;
    }
    footer {
        width: 100%;
        background: $BACK-BACKGROUND;
        border-top: 6px solid $BACK-BACKGROUND;
        padding-bottom: 30px;
    }
}
%container {
    max-width: 1265px;
    margin: 0px auto;
    display: flex;
    flex-flow: column;
}
.container {
    @extend %container;
}
.body-container {
    @extend %container;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
    // justify-content: flex-end;
    .spacer {
        display: flex;
        flex: 1 1 33.33%;
    }

    // .header__logo

    &__logo {
        max-width: 400px;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
}
.contacts {
    display: flex;
    flex: 1 1 33.33%;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    font-style: italic;
    &__items {
        padding-bottom: 5px;
    }
    // .contacts__item

    &__item {
        margin-top: 15px;
        font-size: 16px;
    }
}

.top-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: $BACK-BACKGROUND;
    font-weight: bold;
    // .top-menu__item

    &__item {
        margin: 5px 10px;
    }

    // .top-menu__link

    &__link {
        font-size: 18px;
        color: black;
        font-style: italic;
        &:hover {
            color: red;
        }
    }
}

.content {
    background: $BLOCK-BACKGROUND;
    height: 100%;
}

.body-wrapper {
    display: flex;
    height: 100%;
}

.side-menu {
    width: 280px;
    background: $BLOCK-BACKGROUND;
    display: inline-block;
    list-style-type: none;
    font-size: 16px;
    border-right: 6px solid $BACK-BACKGROUND;
    text-align: center;
    font-weight: bold;
    &__item {
        padding: 7px 0;
    }

    // .side-menu__link

    &__link {
        font-size: 18px;
        color: black;
        font-style: italic;
        &:hover {
            color: red;
        }
    }
}

.main-content {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.title {
    display: block;
    font-size: 18px;
    font-style: italic;
    padding: 8px 0 8px 5px;
    border-bottom: 6px solid $BACK-BACKGROUND;
    h1 {
        font-size: 31px;
        font-weight: 100;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    &__logo {
        display: flex;
        flex: 0 1 200px;
        overflow: hidden;
        flex-flow: wrap;
        align-content: flex-start;
        img {
            width: 100%;
            object-fit: contain;
            margin-bottom: 15px;
        }
        small {
            color: #727272;
        }
    }

    &__logo-container {
        display: flex;
    }

    &__links {
        & li {
            line-height: 25px;
        }
        & p {
            font-size: 16px;
            font-weight: 700;
            color: #636466;
            line-height: 25px;
            padding-bottom: 5px;
        }
        & a {
            color: #727272;
            line-height: 18px;
            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
}

.menu-active {
    color: red;
}
