.mobile-nav {
    position: absolute;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.15s linear;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 10000px;
        transition: all 0.15s linear;
    }
    &__list {
        float: left;
        width: 240px;
        height: 100vh;
        transition: all 0.15s linear;
        overflow-y: scroll;
        padding-bottom: 150px;
    }
    &__item {
        position: relative;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        font-weight: 700;
        padding-left: 20px;
        border-bottom: 1px solid #d8d8d8;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__link {
        display: block;
    }
}

.nav-open {
    left: 0;
}

.mobile-nav__inner > ul {
    float: left;
    width: 240px;
    height: 100vh;
    transition: all 0.15s linear;
    overflow-y: scroll;
    padding-bottom: 70vh;
}

.mobile-nav-open {
    transform: translate3d(240px, 0, 0);
}
.mobile-subnav {
    background-color: #292929;
}

[class*=" icon-"],
[class^="icon-"] {
    font-family: icomoon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.mobile-nav__inner .icon-chevron-left,
.mobile-nav__inner .icon-chevron-right {
    position: absolute;
    top: 37%;
    font-size: 18px;
    margin-top: -3.5px;
}
.mobile-nav__back .icon-chevron-left {
    left: 20px;
}
.mobile-nav__inner .icon-chevron-right {
    right: 20px;
}
.icon-chevron-left:before {
    content: "‹";
}
.icon-chevron-right:before {
    content: "›";
}
.mobile-nav__back {
    background-color: #4b4b4b;
    padding-left: 40px;
    font-weight: 200;
}

.mobile-subnav .mobile-nav__item {
    border-bottom: 1px solid #343434;
    color: #fff;
    font-family: oswald;
    font-size: 13px;
}

.mobile-nav__inner .mobile-subnav .mobile-nav__title {
    font-size: 16px;
    color: #797979;
    font-family: oswald;
}

.mobile-subnav .mobile-nav__item {
    border-bottom: 1px solid #343434;
    color: #fff;
    font-family: oswald;
    font-size: 13px;
}
