@import "constants.scss";

.product {
    display: flex;

    &__image-container {
        max-width: 380px;
    }

    &__image {
        text-align: center;
        position: relative;
        display: flex;
        padding: 15px 15px 0 15px;
        flex: 0 1 33%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }

    &__info {
        overflow: hidden;
        position: relative;
        height: 350px;
        margin-top: 8px;
        padding-left: 25px;
        max-width: 400px;
    }
}

.benefits {
    display: flex;
    flex-flow: column;
    width: 115%;
    &__list {
        padding-left: 20px;
        width: 100%;
        li {
            color: #727272;
            display: inline-block;
            float: left;
            font-size: 16px;
            line-height: 25px;
            margin-right: 10%;
            position: relative;
            width: 40%;
            &::after {
                background: url(../images/birdie.png);
                background-repeat: no-repeat;
                content: "";
                height: 18px;
                left: -20px;
                position: absolute;
                top: 0;
                width: 19px;
            }
        }
    }
}
.info-header {
    color: #2b2a29;
    font-size: 25px;
    margin: 15px 0 5px 0;
}
.specific {
    table {
        color: #727272;
        font-size: 15px;
        margin-bottom: 40px;
        text-align: left;
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        tr:nth-child(2n) {
            background: $BACK-BACKGROUND; /* Цвет фона */
        }
        td {
            padding: 5px;
            line-height: 20px;
        }
    }
}

.read-more {
    background: url(../images/read_more.png);
    background-repeat: repeat-x;
    bottom: 0;
    cursor: pointer;
    height: 56px;
    position: absolute;
    text-align: center;
    width: 96%;
    z-index: 94;
    span {
        color: #0393bf;
        cursor: pointer;
        display: block;
        font-size: 15px;
        margin-top: 30px;
        text-decoration: underline;
    }
}

.opened {
    height: unset;
}

.description {
    padding: 0 20px;
    margin: 0 0 20px 0;

    &__row {
    }

    &__label {
        margin-bottom: 10px;
        p {
            color: #727272;
            font-size: 18px;
        }
    }

    &__text {
        color: #727272;
        line-height: 18px;;
    }
}